<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <nav class="masthead-links">
    <ul>
      <li><span>
        Tuesday, October 18, 2016
      </span></li>
      <label>|</label>
      <li><span>
        <i class="far fa-newspaper"></i>
        <button type="button" name="button">Today’s Paper</button>
      </span></li>
      |
      <li><span>
        <i class="fas fa-video"></i>
        <button type="button" name="button">Video</button> 
      </span></li>
      |
      <li><span>77°F</span></li>
      |
      <li><span>AAO <strong>+100%</strong></span></li>
    </ul>
  </nav>


</header>